@charset "UTF-8";
@font-face {
	font-family: 'happyzcool';
	font-style: normal;
	font-weight: normal;
	src: url(../happyzcool.ttf) format('truetype');
}
.happyzcool{
	font-family: 'happyzcool'
}
.center-page{
	min-height: 100vh;
	background-color: #f2f4f6
}
.w-1{width: 1px}
.w-4{width: 4px}
.w-11{width: 11px}
.w-16{width: 16px}
.w-18{width: 18px}
.w-20{width: 20px}
.w-22{width: 22px}
.w-25{width: 25px}
.w-27{width: 27px}
.w-28{width: 28px}
.w-29{width: 29px}
.w-30{width: 30px}
.w-34{width: 34px}
.w-36{width: 36px}
.w-38{width: 38px}
.w-41{width: 41px}
.w-45{width: 45px}
.w-48{width: 48px}
.w-55{width: 55px}
.w-58{width: 58px}
.w-50{width: 50px}
.w-55{width: 55px}
.w-60{width: 60px}
.w-62{width: 62px}
.w-64{width: 64px}
.w-70{width: 70px}
.w-74{width: 74px}
.w-75{width: 75px}
.w-78{width: 78px}
.w-80{width: 80px}
.w-85{width: 85px}
.w-90{width: 90px}
.w-93{width: 93px}
.w-100{width: 100px}
.w-110{width: 110px}
.w-120{width: 120px}
.w-130{width: 130px}
.w-138{width: 138px}
.w-145{width: 145px;}
.w-150{width: 150px}
.w-160{width: 160px}
.w-163{width: 163px}
.w-170{width: 170px}
.w-180{width: 180px;}
.w-185{width: 185px}
.w-200{width: 200px}
.w-205{width: 205px}
.w-210{width: 210px}
.w-215{width: 215px}
.w-220{width: 220px}
.w-225{width: 225px}
.w-238{width: 238px}
.w-240{width: 240px}
.w-254{width: 254px}
.w-256{width: 256px}
.w-260{width: 260px}
.w-262{width: 262px}
.w-270{width: 270px}
.w-275{width: 275px}
.w-280{width: 280px}
.w-285{width: 285px}
.w-282{width: 282px}
.w-290{width: 290px}
.w-292{width: 292px}
.w-295{width: 295px}
.w-305{width: 305px}
.w-310{width: 310px}
.w-315{width: 315px}
.w-320{width: 320px}
.w-335{width: 335px}
.w-340{width: 340px}
.w-347{width: 347px}
.w-370{width: 370px}
.w-390{width: 390px}
.w-400{width: 400px}
.w-410{width: 410px}
.w-445{width: 445px}
.w-450{width: 450px}
.w-480{width: 480px}
.w-510{width: 510px}
.w-530{width: 530px}
.w-560{width: 560px}
.w-600{width: 600px}
.w-680{width: 680px}
.w-700{width: 700px}
.w-765{width: 765px}
.w-880{width: 880px}
.w-900{width: 900px}
.w-950{width: 950px}
.w-954{width: 954px}
.w-965{width: 965px}
.w-970{width: 970px}
.w-980{width: 980px}
.w-1190{
	width: 1190px;
	margin: auto
}
.w-50b{width: 50%}
.w-100b{width: 100%}
.max-155{max-width: 155px}
.min-100{min-width: 100px}
.min-1200{min-width: 1200px}
.h-2{height: 2px}
.h-4{height: 4px}
.h-11{height: 11px}
.h-15{height: 15px}
.h-16{height: 16px}
.h-18{height: 18px}
.h-20{height: 20px}
.h-22{height: 22px}
.h-25{height: 25px}
.h-27{height: 27px}
.h-28{height: 28px}
.h-29{height: 29px}
.h-30{height: 30px}
.h-32{height: 32px}
.h-34{height: 34px}
.h-35{height: 35px}
.h-36{height: 36px}
.h-38{height: 38px}
.h-39{height: 39px}
.h-40{height: 40px}
.h-42{height: 42px}
.h-44{height: 44px}
.h-45{height: 45px}
.h-46{height: 46px}
.h-48{height: 48px}
.h-50{height: 50px}
.h-55{height: 55px}
.h-58{height: 58px}
.h-60{height: 60px}
.h-62{height: 62px}
.h-61{height: 61px}
.h-70{height: 70px}
.h-75{height: 75px}
.h-76{height: 76px}
.h-78{height: 78px}
.h-80{height: 80px}
.h-86{height: 86px}
.h-90{height: 90px}
.h-100{height: 100px}
.h-110{height: 110px}
.h-115{height: 115px}
.h-112{height: 112px}
.h-120{height: 120px}
.h-150{height: 150px}

.h-180{height: 180px;}
.h-185{height: 185px}
.h-190{height: 190px}
.h-359{height: 359px}
.h-396{height: 396px}
.h-560{height: 560px}
.h-740{height: 740px}
.h-100b{height: 100%}
.min-h-580{min-height: 580px}
.lh-14{line-height: 14px}
.lh-16{line-height: 16px}
.lh-20{line-height: 20px}
.lh-22{line-height: 22px}
.lh-25{line-height: 25px}
.lh-26{line-height: 26px}
.lh-27{line-height: 27px}
.lh-28{line-height: 28px}
.lh-29{line-height: 29px}
.lh-30{line-height: 30px}
.lh-32{line-height: 32px}
.lh-34{line-height: 34px}
.lh-36{line-height: 36px}
.lh-38{line-height: 38px}
.lh-39{line-height: 39px}
.lh-40{line-height: 40px}
.lh-42{line-height: 42px}
.lh-45{line-height: 45px}
.lh-46{line-height: 46px}
.lh-50{line-height: 50px}
.lh-60{line-height: 60px}
.lh-65{line-height: 65px}
.lh-76{line-height: 76px}
.lh-78{line-height: 78px}
.l-h12{line-height: 1.2}
.l-h14{line-height: 1.4}
.l-h15{line-height: 1.5}
.l-h16{line-height: 1.6}
.l-h17{line-height: 1.7}
.l-hh20{line-height: 20px}
.pt-3{padding-top: 3px}
.pt-4{padding-top: 4px}
.pt-5{padding-top: 5px}
.pt-7{padding-top: 7px}
.pt-10{padding-top: 10px}
.pt-14{padding-top: 14px}
.pt-15{padding-top: 15px}
.pt-17{padding-top: 17px}
.pt-20{padding-top: 20px}
.pt-25{padding-top: 25px}
.pt-30{padding-top: 30px}
.pt-35{padding-top: 35px}
.pt-40{padding-top: 40px}
.pt-45{padding-top: 45px}
.pt-50{padding-top: 50px}
.pt-60{padding-top: 60px}
.pb-3{padding-bottom: 3px}
.pb-5{padding-bottom: 5px}
.pb-8{padding-bottom: 8px}
.pb-10{padding-bottom: 10px}
.pb-12{padding-bottom: 12px}
.pb-13{padding-bottom: 13px}
.pb-15{padding-bottom: 15px}
.pb-20{padding-bottom: 20px}
.pb-22{padding-bottom: 22px}
.pb-25{padding-bottom: 25px}
.pb-30{padding-bottom: 30px}
.pb-35{padding-bottom: 35px}
.pb-40{padding-bottom: 40px}
.pb-50{padding-bottom: 50px}
.pb-60{padding-bottom: 60px}
.pb-70{padding-bottom: 70px}
.pb-80{padding-bottom: 80px}
.pb-100{padding-bottom: 100px}
.pb-160{padding-bottom: 160px}
.pb-200{padding-bottom: 200px}
.pl-5{padding-left: 5px}
.pl-7{padding-left: 7px}
.pl-10{padding-left: 10px}
.pl-12{padding-left: 12px}
.pl-15{padding-left: 15px}
.pl-18{padding-left: 18px}
.pl-20{padding-left: 20px}
.pl-23{padding-left: 23px}
.pl-25{padding-left: 25px}
.pl-28{padding-left: 28px}
.pl-30{padding-left: 30px}
.pl-34{padding-left: 34px}
.pl-35{padding-left: 35px}
.pl-40{padding-left: 40px}
.pl-45{padding-left: 45px}
.pl-50{padding-left: 50px}
.pl-60{padding-left: 60px}
.pl-65{padding-left: 65px}
.pl-70{padding-left: 70px}
.pl-88{padding-left: 88px}
.pl-100{padding-left: 100px}
.pl-110{padding-left: 110px}
.pl-120{padding-left: 120px}
.pl-130{padding-left: 130px}
.pl-150{padding-left: 150px}
.pl-200{padding-left: 200px}
.pl-520{padding-left: 520px}
.pl-530{padding-left: 530px}

.pr-3{padding-right: 3px}
.pr-5{padding-right: 5px}
.pr-8{padding-right: 8px}
.pr-10{padding-right: 10px}
.pr-12{padding-right: 12px}
.pr-18{padding-right: 18px}
.pr-20{padding-right: 20px}
.pr-22{padding-right: 22px}
.pr-30{padding-right: 30px}
.pr-35{padding-right: 35px}
.pr-40{padding-right: 40px}
.pr-45{padding-right: 45px}
.pr-80{padding-right: 80px}
.auto{margin: 0 auto}
.ml-3{margin-left: 3px}
.ml-5{margin-left: 5px}
.ml-7{margin-left: 7px}
.ml-10{margin-left: 10px}
.ml-13{margin-left: 13px}
.ml-15{margin-left: 15px}
.ml-25{margin-left: 25px}
.ml-30{margin-left: 30px}
.ml-35{margin-left: 35px}
.ml-45{margin-left: 45px}
.ml-50{margin-left: 50px}
.ml-80{margin-left: 80px}
.ml-150{margin-left: 150px}
.ml-200{margin-left: 200px}

.ml--490{margin-left: -490px}
.mt-2{margin-top: 2px}
.mt-8{margin-top: 8px}
.mt-10{margin-top: 10px}
.mt-13{margin-top: 13px}
.mt-15{margin-top: 15px}
.mt-17{margin-top: 17px}
.mt-18{margin-top: 18px}
.mt-20{margin-top: 20px}
.mt-27{margin-top: 27px}
.mt-30{margin-top: 30px}
.mt-40{margin-top: 40px}
.mt-50{margin-top: 50px}
.mt-90{margin-top: 90px}
.mr-3{margin-right: 3px}
.mr-5{margin-right: 5px}
.mr-7{margin-right: 7px}
.mr-10{margin-right: 10px}
.mr-13{margin-right: 13px}
.mr-15{margin-right: 15px}
.mr-20{margin-right: 20px}
.mr-23{margin-right: 23px}
.mr-25{margin-right: 25px}
.mr-27{margin-right: 27px}
.mr-30{margin-right: 30px}
.mr-35{margin-right: 35px}
.mr-40{margin-right: 40px}
.mr-50{margin-right: 50px}
.mr-70{margin-right: 70px}
.mr-90{margin-right: 90px}
.mr--445{margin-right: -445px}
.mr--618{margin-right: -618px}
.mr0{margin-right: 0px}
.mb-0{margin-bottom: 0px}
.mb-3{margin-bottom: 3px}
.mb-4{margin-bottom: 4px}
.mb-5{margin-bottom: 5px}
.mb-7{margin-bottom: 7px}
.mb-8{margin-bottom: 8px}
.mb-10{margin-bottom: 10px}
.mb-12{margin-bottom: 12px}
.mb-15{margin-bottom: 15px}
.mb-20{margin-bottom: 20px}
.mb-23{margin-bottom: 23px}
.mb-25{margin-bottom: 25px}
.mb-30{margin-bottom: 30px}
.mb-35{margin-bottom: 35px}
.mb-40{margin-bottom: 40px}
.mb-45{margin-bottom: 45px}
.mb-55{margin-bottom: 55px}
.mb-65{margin-bottom: 65px}
.mb-70{margin-bottom: 70px}
.mb-90{margin-bottom: 90px}
.mlr-5{margin:0 5px}
.f-0{font-size: 0px}
.f-12{font-size: 12px}
.f-13{font-size: 13px}
.f-14{font-size: 14px}
.f-16{font-size: 16px}
.f-18{font-size: 18px}
.f-21{font-size: 21px}
.f-24{font-size: 24px}
.f-28{font-size: 28px}
.f-30{font-size: 30px}
.f-arial{font-family: arial}
.bg-fff{background-color: #fff}
.bg-fcfcfd{background-color: #fcfcfd}
.bg-f9f9f9{background-color: #f9f9f9 }
.bg-e42008{background-color: #e42008}
.bg-dbdbdb{background-color: #dbdbdb}
.bg-cbcbcb{background-color: #cbcbcb}
.bg-d8d8d8{background-color: #d8d8d8}
.bg-f2f4f6{background-color: #f2f4f6}
.bg-FFE4CE{background-color: #FFE4CE}
.bg-f8f8f8{background-color: #f8f8f8}
.bg-a6a6a6{background-color: #a6a6a6}
.bg-FDECEC{background-color: #FDECEC}
.bg-rgba20{background-color: rgba(0,0,0,0.2)}
.bg-e9ebec{background-color: #e9ebec}
.bg-abs-0--62{background-position: 0px -62px !important}
.bg-abs-0--107{background-position: 0px -107px !important}
.bg-abs-0--156{background-position: 0px -156px !important}
.c-fff{color: #fff}
.c-c3c3c3{color: #c3c3c3}
.c-cbcbcb{color: #cbcbcb}
.c-e42008{color: #e42008}
.c-D94037{color: #D94037}
.c-2288ee{color: #2288ee}
.c-999{color: #999}
.c-666{color: #666}
.c-363636{color: #363636}
.c-dd4610{color: #dd4610}
.c-333{color: #333}
.c-b50f12{color: #b50f12}
.c999{color: #999}
.ce42008{color: #e42008}
.bor-t-2-929292{border-top:2px solid #929292}
.bor-t-f1f3f5{border-top: 1px solid #f1f3f5}
.bor-t-e1e3e5{border-top:1px solid #e1e3e5}
.bor-t-f2f4f6{border-top:1px solid #f2f4f6}
.bor-b-f2f4f6{border-bottom:1px solid #f2f4f6}
.bor-b-f1f3f5{border-bottom: 1px solid #f1f3f5}
.bor-b-e4e4e4{border-bottom: 1px solid #e4e4e4}
.bor-b-e1e3e5{border-bottom: 1px solid #e1e3e5}
.bor-b-dbdbdb{border-bottom: 1px solid #dbdbdb}
.bor-r-f1f3f5{border-right: 1px solid #f1f3f5}
.bor-r-e1e3e5{border-right: 1px solid #e1e3e5}
.bor-l-e42008{border-left: 2px solid #e42008}
.bor-l-dbdbdb{border-left: 1px solid #dbdbdb}
.bor-l-e1e3e5{border-left: 1px solid #e1e3e5}
.bor-b-e42008{border-bottom: 1px solid #e42008}
.bor-f1f3f5{border: 1px solid #f1f3f5}
.bor-e1e3e5{border:1px solid #e1e3e5}
.bor-dbdbdb{border: 1px solid #dbdbdb}
.bor-d2d2d2{border: 1px solid #d2d2d2}
.bor-a6a6a6{border: 1px solid #a6a6a6}
.bor-ff0000{border:1px solid #ff0000}
.bor-e6c9b4{border:1px solid #e6c9b4}
.bor-4-e42008{border:4px solid #e42008}
.bor-2-e42008{border:2px solid #e42008}
.bor-1-e42008{border:1px solid #e42008}
.bor-0{border:0 !important;}
.bor-l-0{border-left:0 !important;}
.bor-r-0{border-right:0 !important;}
.bor-t-0{border-top:0 !important;}
.bor-b-0{border-bottom:0 !important;}
.box-hover .op-hover{
	opacity: 0;
	filter: alpha(opacity=0);
}
.box-hover:hover .op-hover{
	opacity: 1;
	filter: alpha(opacity=100);
}
.index-5{z-index: 5}
.index-10{z-index: 10}
.c-hover:hover{color: #e42008}
.b-radio-4{border-radius: 4px}
.b-radio-5{border-radius: 5px}
.b-radio-6{border-radius: 6px}
.b-radio-20{border-radius: 20px}
.b-radio-50{border-radius: 50%}
.block{display: block}
.none{display: none;}
.bold{font-weight: bold;}
.f-over{overflow: hidden;}
.inline-block{display: inline-block}
.por{position: relative}
.abs{position: absolute}
.l-0{left: 0}
.l-5{left: 5px}
.l-10{left: 10px}

.l-18{left: 18px}
.l-23{left: 23px}
.l-34{left: 34px}
.l-40{left: 40px}
.l-70{left: 70px}
.l-50b{left: 50%}
.t-0{top: 0}
.t-3{top: 3px}
.t-4{top: 4px}
.t-5{top: 5px}
.t-7{top: 7px}
.t-10{top: 10px}
.t-28{top: 28px}
.t-34{top: 34px}
.t-35{top: 35px}
.t-57{top: 57px}
.r-0{right: 0px}
.r-10{ right:10px;}
.r-45{right: 45px}
.r-50b{right: 50%}
.r--20{right: -20px}
.b-0{bottom: 0}
.opa0{
	opacity: 0;
	filter: alpha(opacity=0);
}
.top-cen {
    top: 50%;
    transform: translateY(-50%);
}
.left-cen{
	left: 50%;
    transform: translateX(-50%);
}
.h-center{
	display: flex;
    align-items: center; /*定义body的元素垂直居中*/
    justify-content: center;
}
.f-inherit{font-weight: inherit;}
.center{text-align: center}
.left{text-align: left}
.right{text-align: right}
.pointer{cursor: pointer}
.shadow{box-shadow: 0 1px 3px 0 rgba(0,0,0,0.01)}
.shadow-2{box-shadow: 0 1px 2px 0px rgba(0,0,0,0.03)}
.shadow-6{box-shadow: 0 0px 6px 1px rgba(0,0,0,0.03)}
.a-decoration{text-decoration: underline !important}
.tables.top td{vertical-align: top;}
.tables-bor td,
.tables-bor th{border:1px solid #e1e3e5}
/*.table-bor-e1e3e5 tr td{border:1px solid #e1e3e5;}*/
.box-hover:hover{
	box-shadow: 0 0 2px 1px rgba(0,0,0,0.03);
}
.ani3{
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }
.nav-hover:before{
	content: '';
	width: 4px;
	height: 0px;
	background-color: #e42008;
	position: absolute;
	left: 1px;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	transition: all 0.29s;
	-webkit-transition: all 0.29s;
}
.nav-hover:after{
	content: '';
	width: 0px;
	height: 10px;
	position: absolute;
	right: 22px;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
	display: block;
	background: url(../img/center-img2.png) center no-repeat;
}
.nav-hover.on:before,
.nav-hover:hover:before{
	height: 14px;
}
.nav-hover.on:after,
.nav-hover:hover:after{
	width: 5px;
}
.nav-hover:hover,
.nav-hover.on{
	background-color: #fdf7f6;
	color: #e42008;
}
.center-page .warp .title:before{
	width: 37px;
	height: 3px;
	background-color: #e42008;
	position: absolute;
	left: 35px;
	bottom: -1px;
	content: '';
}
.center-page .warp .tit:before{
	display: block;
	content: '';
	position: absolute;
	left: 50%;
	margin-left: -19px;
	width: 37px;
	bottom: 0;
	height: 3px;
	background-color: transparent;
}
.center-page .warp .tit.on:before{
	background-color: #e42008;
}
/*.center-page .warp .tit.on{
	color:#e42008
}*/
.before-r-border:before{
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -10px;
	background-color: #ececec;
	width: 1px;
	height: 20px;
}
.center-page .warp .tit.on{
	color:#333
}
.center-page .warp .tit.cut{
	color:#e42008
}
.center-page .select .el-input--suffix .el-input__inner{
	padding:0 20px 0 10px;

}
.center-page .select .el-input__suffix{
	right: 0
}
.center-page .el-input__inner{
	border-radius: 0
}
.center-page .checks .el-checkbox__label{
	font-size: 12px;
}
.center-page .img-list:nth-child(4n){
	margin-right: 0
}
.center-page .el-pagination{
	padding: 0px;
}
.center-page .classification .el-input__inner{
	padding: 0;
	border:0;
	height: 29px;
	line-height: 29px;
	width: 58px;
	font-size: 12px;
	color: #666; 
}
.center-page .classification .el-input__suffix{display: none;}
.center-page .el-select-dropdown__item{
	font-size: 12px;
}
.center-page .red{
	background:#F33122 url(../img/center-img29.png) left center/cover;
}
.center-page .black{
	background:#949494 url(../img/center-img29.png) left center/cover;
}
.center-page .gray{
	background:#e1e3e5 url(../img/center-img29.png) left center/cover;
}
.el-pagination.is-background .el-pager li:not(.disabled).active{
	background-color: #e42008;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover{
	color: #fff;
}
.el-pagination.is-background .el-pager li:not(.disabled).active:hover{
	color: #fff;
}
.center-page .c-h-input .el-input__inner,
.center-page .c-h-select .el-input__inner{
	height: 34px;
	line-height: 32px;
	font-size: 12px;
	width: 256px;
}
.center-page .c-h-select.w-160 .el-input__inner{
	width: 160px
}
.center-page .c-h-select .el-input__suffix{
	background-color: #dcdfe6;
    right: 1px;
    top: 1px;
    height: 32px;
    color: #333;
}

.center-page .c-h-input .el-input__inner:focus,
.center-page .el-select .el-input__inner:focus,
.center-page .el-select .el-input.is-focus .el-input__inner,
.order .el-input__inner:focus,
.order .el-select .el-input.is-focus .el-input__inner,
.orders .el-checkbox__input.is-focus .el-checkbox__inner{
	border-color: #ff0000;
}
.el-select-dropdown__item.selected{
	color: #ff0000
}
.center-page .checkbox .el-checkbox__label{
	font-size: 12px
}
.center-page .checkbox .el-checkbox__input.is-checked .el-checkbox__inner,
.login .checkbox .el-checkbox__input.is-checked .el-checkbox__inner,
.order .checkbox .el-checkbox__input.is-checked .el-checkbox__inner,
.order .el-radio__input.is-checked .el-radio__inner,
.orders .checkbox .el-checkbox__input.is-checked .el-checkbox__inner{
	background-color: #e42008;
    border-color: #e42008;
}
.center-page .checkbox .el-checkbox__inner:hover,
.login .checkbox .el-checkbox__inner:hover,
.center-page .el-radio__inner:hover,
.orders .el-checkbox__inner:hover{
    border-color: #e42008;
}
.center-page .checkbox .el-checkbox__input.is-checked+.el-checkbox__label,
.login .checkbox .el-checkbox__input.is-checked+.el-checkbox__label,
.center-page .el-radio__input.is-checked+.el-radio__label,
.order .el-radio__input.is-checked+.el-radio__label,
.orders .el-checkbox__input.is-checked+.el-checkbox__label{
	color: #e42008;
}
.order .el-checkbox__input.is-checked+.el-checkbox__label{
	color: #666
}
.center-page .el-radio__input.is-checked .el-radio__inner{
	border-color: #e42008;
    background: #e42008;
}
.center-page .checkbox .is-checked,
.center-page .checkbox .is-focus,
.order .el-textarea__inner:focus,
.order .checkbox .is-checked,
.order .checkbox .is-focus{
	border-color: #e42008;
}
.center-page .checkbox .el-checkbox__inner,
.login .checkbox .el-checkbox__inner,
.order .checkbox .el-checkbox__inner{
	border-color: #dcdfe6;
}
.center-page .table tr:nth-child(2n-1){
	background-color: #fcfcfd
}
.center-page .el-checkbox__input.is-indeterminate .el-checkbox__inner{
	background-color: #fff;
}
.center-page .dropdown .el-dropdown{
	font-size: 12px;
}
.order .top-select .el-input--suffix .el-input__inner{
	padding-right: 0
}
.login .el-input input{
	height: 36px;
	line-height: 36px;
	border:0;
}
.order .rate .el-rate__icon,
.orders .rate-value .el-rate__icon{
	font-size: 20px;
}
.order .rate .el-rate__icon:hover,
.orders .rate-value .el-rate__icon:hover{
	-webkit-transform: scale(1);
    transform: scale(1);
}
.order .rate .el-rate__icon.el-icon-star-on{
	color: #e42008 !important
}
.order .rate .el-textarea__inner{
	height: 90px;
	border-radius: 0;
	border:1px solid #e1e3e5;
}
::-webkit-scrollbar-thumb{
	background-image:-webkit-linear-gradient(0,#e42008,#e42008);
	background-image:linear-gradient(0,#e42008,#e42008);
	background-image:-webkit-linear-gradient(bottom,#e42008,#e42008);
	background-image: linear-gradient(to top,#e42008,#e42008);
}
::-webkit-scrollbar-thumb:window-inactive{
	background-image:-webkit-linear-gradient(0,#e42008,#e42008);
	background-image:linear-gradient(0,#e42008,#e42008);
	background-image:-webkit-linear-gradient(bottom,#e42008,#e42008);
	background-image:linear-gradient(to top,#e42008,#e42008)
}
::-webkit-scrollbar-thumb:vertical:hover{
	background-image:-webkit-linear-gradient(0,#e42008,#e42008);
	background-image:linear-gradient(0,#e42008,#e42008);
	background-image:-webkit-linear-gradient(bottom,#e42008,#e42008);
	background-image:linear-gradient(to top,#e42008,#e42008)
}
.order .rate .el-upload--picture-card,
.order .rate .el-upload-list--picture-card .el-upload-list__item,
.orders .upload-img .el-upload--picture-card,
.orders .upload-img .el-upload-list--picture-card .el-upload-list__item{
	width: 65px;
	height: 65px;
	line-height:65px;
}

.order .rate .el-upload-list--picture-card .el-upload-list__item-actions{
	line-height: 65px;
}
.orders .upload-img .el-upload-list--picture-card .el-upload-list__item-thumbnail{
	object-fit: cover;
}
.orders .upload-img .el-upload{
	line-height: 75px;
}
.orders .el-upload-list--picture-card .el-upload-list__item-status-label{
	line-height: 24px;
}
.order .rate .el-upload--picture-card{
	border:1px solid #e1e3e5;
	border-radius: 0;
	background-color: #fcfcfd;
}
.order .rate .el-upload--picture-card i{
	color: #b7babd
}
.orders .fixed .el-rate .el-rate__icon,
.orders .fixed .el-rate .el-rate__decimal{
	font-size: 12px;
}
.orders .fixed .el-rate{
	height: 14px;
}
.orders .fixed .el-rate__text{
	font-size: 12px;
}
.order .textareas .el-textarea .el-textarea__inner{
	height: 140px;
	resize:none;
}
.orders .textarea .el-textarea__inner{
	height: 100px
}

.el-upload-list__item.is-success .el-upload-list__item-status-label{
	display: none;
}

.childer{
	display: none;
	top:27px;
	border-top: 1px solid #e4e4e4;
}
.childer-box:hover .childer{ display: block;}
.childer .btn{
	right:20px;
	bottom:13px;
	cursor: pointer;
	border: 1px solid #e4e4e4;
}
.cheack-lable-none .el-checkbox__label{ display: none;}

.nav-list .title i{
	width: 10px;
	height: 6px;
	background: url(../img/l-4.png) center no-repeat;
	transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -3px;
}
.nav-list li .title i.on{
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}
.nav-list .tit i{
	display: block;
	width: 6px;
	height: 10px;
	position: absolute;
	right: 22px;
	top: 50%;
	margin-top: -5px;
	background: url(../img/l-5.png) center no-repeat;
	opacity: 0;
	filter: alpha(opacity=0);
	transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
}
.nav-list li .tit.on i,
.nav-list li .tit:hover i{
	opacity: 1;
	filter: alpha(opacity=100);
}
.nav-list li .child{display: none;}
.nav-list .tit:before{
	display: block;
	width: 4px;
	height: 2px;
	background-color: #bbbbbb;
	position: absolute;
	left: 30px;
	top: 50%;
	margin-top:-1px;
	content: '';
}
.nav-list .tit:hover{
	color: #c4423c;
	background-color: #fdf7f6;
}
.nav-list .tit:hover:before{
	background-color: #c4423c;
}
.nav-right-box .title{
	height: 48px;
	line-height: 48px;
	font-size: 12px;
	color: #afafaf;
	padding-left: 45px;
	width: 100%;
	background:#fff url(../img/l-3.jpg) 23px center no-repeat;
}
.nav-right-box .title .arr,
.nav-right-box .title .more{
	color: #666;
}
.nav-right-box .detaile-box{
	background-color: #fff;
	margin-top: 6px;
	padding: 0 30px;
}
.nav-right-box .subtitle{
	height: 58px;
	line-height: 58px;
	font-size: 14px;
	color: #666;
	background-color: #fff;
	border-bottom: 1px solid #f1f3f5;
}
.nav-right-box .detaile{
	padding: 25px 0 40px;
	font-size: 14px;
	color: #666;
	line-height: 1.8;
	min-height: 260px;
}
.help-banner{
	width: 100%;
	position: relative;
	height: 147px;
}
.help-banner .box{
	width: 510px;
	height: 38px;
	background-color: #fff;
	border-radius: 30px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.help-banner .box input{
	display: block;
	width: 440px;
	height: 30px;
	line-height: 30px;
	box-sizing:border-box;
	padding-left: 27px;
	font-size: 14px;
	color: #999999;
	float: left;
	margin-top: 4px;
}
.help-banner .box .submit{
	width: 63px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #fff;
	background-color: #c12921;
	border-radius: 30px;
	float: right;
	font-size: 16px;
	cursor: pointer;
}


.center-img:after{
	position: absolute;
	content: '';
	border: 1px solid rgba(0, 0, 0, 0.1);
	top:-4px;
	left: -4px;
	right:-4px;
	bottom:-4px;
	border-radius: 50%;
}
.colse-btn{
	width: 16px;
	height: 16px;
	position: absolute;
	right: 6px;
	top:6px;
	background: url(../img/.list_ico11.1.png) center/cover no-repeat;
}

/* 协议页 */
.agreement-con{
	overflow-y: scroll;
	padding:20px;
	box-sizing: border-box;
	border: 1px solid #eee;
}