<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="zh-CN" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<!--<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />-->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="author" content="杭州博采网络科技股份有限公司-http://www.bocweb.cn" />
	<meta name="renderer" content="webkit">
	<title>苏润易购</title>
	<link href="static/img/favicon.ico" rel="shortcut icon">
	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.2.2/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="static/public/swiper/swiper-3.4.2.min.css">
	<link rel="stylesheet" href="static/public/css/public.css">
	<link rel="stylesheet" href="static/css/center.css">
</head>
<body>
	<div id="app" v-cloak="" class="center-page">
		<header-top></header-top>
		<div class="h-60 lh-60 bg-e42008">
			<div class="w-1190 happyzcool c-fff f-28">我的苏润</div>
		</div>
		<div class="crumbs w-1190 pt-20 pb-22 f-12 c-999"><a href="index.html" target="_blank" class="c-999 mr-5 c-hover">首页</a>><a href="center.html"  target="_blank" class="c-999 mr-5 ml-5 c-hover">个人中心</a>><a href="javascript:;" class="c-999 ml-5 c-hover">修改密码</a></div>
		<div class="warp f-cb w-1190 mb-55">
			<center-nav :nav="nav"></center-nav>
			<div class="w-954 shadow fr bg-fff">
				<div class="h-60 lh-60 pl-35 f-14 c-333 por title bor-b-f1f3f5 mb-35">修改密码</div>
				<div class="f-cb pb-100 pl-45">
					<div class="f-cb mb-15">
						<div class="fl w-80 h-38 lh-38 f-13 c-666">手机</div>
						<div class="fl h-38 lh-38 w-120 c-363636 f-arial">{{info.phone}}</div>
					</div>
					<div class="f-cb mb-15">
						<div class="fl w-80 h-38 lh-38 f-13 c-666">验证码</div>
						<div class="fl w-260"><el-input class="f-13"  placeholder="请输入内容" v-model="smsCode"></el-input></div>
						<div class="fl inline-block c-e42008 f-13 h-38 lh-38 ml-30 pointer" @click="sendSms" id="code">获取验证码</div>
					</div>
					<div class="f-cb mb-15">
						<div class="fl w-80 h-38 lh-38 f-13 c-666">新密码</div>
						<div class="fl w-260"><el-input class="f-13" placeholder="请输入内容" v-model="password"></el-input></div>
					</div>
					<div class="f-cb mb-40">
						<div class="fl w-80 h-38 lh-38 f-13 c-666">确认密码</div>
						<div class="fl w-260"><el-input class="f-13" placeholder="请输入内容" v-model="qwdpassword"></el-input></div>
					</div>
					<div class="f-cb f-16 c-fff w-200 h-45 lh-45 cener bg-e42008 center ml-80 pointer" @click="findPwd">保存</div>
				</div>
			</div>
		</div>
		<my-footer></my-footer>
	</div>
	<script src="static/public/swiper/swiper-3.4.2.min.js"></script>
	<script src="static/public/js/dist.js"></script>
	<script src="static/public/element/index.js"></script>
	<script src="static/public/js/public.js"></script>
	<script src="static/public/js/c_main.js"></script>
	<script src="static/components/footer.js"></script>
	<script src="static/components/header.js"></script>
	<script src="static/components/center.js"></script>
	<script src="static/js/c_password.js"></script>
</body>
</html>