<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="zh-CN" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<!--<meta name="viewport" content="widdiv=device-widdiv,initial-scale=1.0,user-scalable=no" />-->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="audivor" content="杭州博采网络科技股份有限公司-http://www.bocweb.cn" />
	<meta name="renderer" content="webkit">
	<title>苏润易购</title>
	<link href="static/img/favicon.ico" rel="shortcut icon">
	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.2.2/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="static/public/swiper/swiper-3.4.2.min.css">
	<link rel="stylesheet" href="static/public/css/public.css">
	<link rel="stylesheet" href="static/css/center.css">
	<link rel="stylesheet" href="static/css/index.css">
</head>

<body class="center-page ">
	<div id="app" v-cloak="">
		<!--<my-header ></my-header>-->
		<header-top></header-top>
		<div class="bgfff header h110">
			<div class="f-cb wid1190 header-cen">
				<a href="index.html"><img src="static/img/logo.png" class="fl mt15 ml50 mr30"></a>
				<div class="fl fsize24 co99 lh110">帮助中心</div>
			</div>
		</div>
		<div class="help-banner" style="background:url(static/img/l-1.jpg) center/auto 100% no-repeat">
			<div class="f-cb box" style="display:none">
				<input type="text" placeholder="请输入关键字进行搜索...">
				<div class="submit">搜索</div>
			</div>
		</div>
		<div class="wid1190 pb75 pt30 f-cb hlep">
			<div class="left-box w-220 fl">
				<div class="h-title h-60 lh-65 f-18 c-fff bold pl-30" style="background:url(static/img/l-2.jpg) center/cover no-repeat">问题分类</div>
				<div class="nav-list bg-fff pt-10 pb-10">
					<ul>
						<li v-for="(item,index) in list" class="mb-10" :class="[item.id==title_id?'on':'']" >
							<div class="title h-40 lh-40 pl-30 c-333 f-14 pointer por">{{item.title}} <i v-if="item.list.length"></i></div>
							<div class="child">
								<p class="h-38 lh-38 pl-40 f-12 c-666 tit por pointer" :class="[it.id==tit_id?'on':'']" v-for="(it,ind) in item.list" @click="handleClick(item.title,item.id,it.title,it.id)">{{it.title}} <i></i></p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="right-box fr w-950 nav-right-box">
				<div class="title"><span class="home">{{title}}</span> <span class="arr">></span> <span class="more">{{tit}}</span></div>
				<div class="detaile-box">
					<div class="subtitle">{{infos.title}}</div>
					<div class="detaile" v-html="infos.content"></div>
				</div>
			</div>
		</div>
		<my-footer></my-footer>
	</div>

	<script src="static/public/swiper/swiper-3.4.2.min.js"></script>
	<script src="static/public/js/dist.js"></script>
	<script src="static/public/element/index.js"></script>
	<script src="static/public/js/public.js"></script>
	<script src="static/public/js/c_main.js"></script>
	<script src="static/components/footer.js"></script>
	<script src="static/components/header.js"></script>
	<script src="static/js/hlep.js"></script>

</body>

</html>