<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="zh-CN" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<!--<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />-->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="author" content="杭州博采网络科技股份有限公司-http://www.bocweb.cn" />
	<meta name="renderer" content="webkit">
	<title>苏润易购</title>
	<link href="static/img/favicon.ico" rel="shortcut icon">
	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.2.2/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="static/public/swiper/swiper-3.4.2.min.css">
	<link rel="stylesheet" href="static/public/css/public.css">
	<link rel="stylesheet" href="static/css/center.css">
</head>
<body>
	<div id="app" v-cloak="" class="order">
		<header-top></header-top>
		<div class="bg-fff shadow-2 mb-25">
			<div class="w-1190 auto f-cb pt-15 pb-12" style="background:url(static/img/center-img38.jpg) 820px 0 no-repeat">
				<a href="index.html" target="_blank"><img src="static/img/logo.png" alt="" class="fl ml-25"></a>
				<img src="static/img/center-img49.png" class="fl ml-30 mt-30">
			</div>
		</div>
		<div class="crumbs w-1190 l-h12 mb-25 f-12 c-999"><a target="_blank" href="index.html" class="c-999 mr-5 c-hover">首页</a>><a target="_blank" :href="ctype==2?'c_exchange.html':'c_order.html'" class="c-999 mr-5 ml-5 c-hover">我的订单</a>><a href="" class="c-999 mr-5 ml-5 c-hover">申请售后</a></div>
		<div class="w-1190 mb-65 rate">
			<div class="f-cb bg-cbcbcb lh-39 mb-30" v-if="type==1">
				<div class="fl w-390 h-39 lh-39 bg-e42008 mr-20 por pl-130">
					<div class="w-20 h-100b abs r--20 t-0" style="background:url(static/img/center-img24.png) 0px -156px no-repeat"></div>
					<span class="fl inline-block w-22 mt-10 mr-13 lh-22 h-22 b-radio-50 center bg-fff f-14 c-e42008">1</span>
					<span class="fl inline-block f-14 c-fff">买家申请仅退款</span>
				</div>
				<div class="fl w-390 h-39 lh-39 bg-e42008 mr-20 por pl-120">
					<div class="w-20 h-100b abs r--20 t-0" style="background:url(static/img/center-img24.png) 0px -156px no-repeat"></div>
					<span class="fl inline-block c-e42008 w-22 mr-13 mt-10 lh-22 h-22 b-radio-50 center bg-fff f-14">2</span>
					<span class="fl inline-block f-14 c-fff">卖家处理退款申请</span>
				</div>
				<div class="fl w-370 h-39 lh-39 por bg-e42008 pl-100">
					<span class="fl inline-block c-e42008 w-22 mr-13 mt-10 lh-22 h-22 b-radio-50 center bg-fff f-14">3</span>
					<span class="fl inline-block f-14 c-fff">退款完毕</span>
				</div>
			</div>
			<div class="f-cb bg-cbcbcb lh-39 mb-30" v-else>
				<div class="fl w-280 h-39 lh-39 bg-e42008 mr-20 por pl-70">
					<div class="w-20 h-100b abs r--20 t-0" style="background:url(static/img/center-img24.png) 0px -156px no-repeat"></div>
					<span class="fl inline-block w-22 mt-10 mr-13 lh-22 h-22 b-radio-50 center bg-fff f-14 c-e42008">1</span>
					<span class="fl inline-block f-14 c-fff">买家申请退款退货</span>
				</div>
				<div class="fl w-280 h-39 lh-39 bg-e42008 mr-20 por pl-70">
					<div class="w-20 h-100b abs r--20 t-0" style="background:url(static/img/center-img24.png) 0px -156px no-repeat"></div>
					<span class="fl inline-block c-e42008 w-22 mr-13 mt-10 lh-22 h-22 b-radio-50 center bg-fff f-14">2</span>
					<span class="fl inline-block f-14 c-fff">卖家处理退货申请</span>
				</div>
				<div class="fl w-280 h-39 lh-39 por bg-e42008 mr-20 pl-100">
					<div class="w-20 h-100b abs r--20 t-0" style="background:url(static/img/center-img24.png) 0px -156px no-repeat"></div>
					<span class="fl inline-block c-e42008 w-22 mr-13 mt-10 lh-22 h-22 b-radio-50 center bg-fff f-14">3</span>
					<span class="fl inline-block f-14 c-fff">买家退货</span>
				</div>
				<div class="fl w-290 h-39 lh-39 bg-e42008 por pl-100">
					<span class="fl inline-block c-e42008 w-22 mr-13 mt-10 lh-22 h-22 b-radio-50 center bg-fff f-14">4</span>
					<span class="fl inline-block f-14 c-fff">退款完毕</span>
				</div>
			</div>
			<div class="f-cb bor-dbdbdb pb-70 por min-h-580">
				<div class="fl w-765 pt-35 ml-50" v-if="ctype==2">
					<div class="f-cb f-18 c-333 l-h16 mb-10"><span v-if="info.refundStatus==3">退款失败</span><span v-if="info.refundStatus==5">退款成功</span> </div>
					<div class="" v-if="info.refundStatus==3">拒绝原因：{{orderRefund.remarks}}</div>
					<div class="f-14 c-666 l-h16" v-if="info.refundStatus==5">退款成功时间：{{info.payTime}}</div>
					<div class="bor-b-dbdbdb w-100b mb-15 mt-20"></div>
					<div class="f-14 c-333 l-h17 mb-30">退款总额：<span class="c-e42008">{{orderRefund.amount}} 积分</span></div>
					<!--<div class="bor-b-dbdbdb w-100b mb-30 mt-50"></div>
					<div class="f-16 c-333 l-h12 mb-5">协商历史</div>
					<div class="">
						<div class="bor-b-dbdbdb pb-25 f-cb pt-25" v-for="item in 3">
							<div class="fl w-48 h-48 b-radio-50" style="background:url(static/img/center-img6.jpg) center/cover no-repeat"></div>
							<div class="fr w-700 f-12 c-666 l-h17">
								<div class="f-cb mb-3">我是大白白</span><span class="fr c-999">2019-11-14 23:20:27</span></div>
								<div class="f-cb">买家（我是大白白）于2019-08-29  14:01:01 创建了退款申请</div>
							</div>
						</div>
					</div>-->
				</div>
				<div class="fl w-765 pt-35 ml-50" v-if="ctype==1">
					<div class="f-cb f-18 c-333 l-h16 mb-10" v-if="orderRefund.refundStatus==-2">退款失败 <span @click="consult" class="f-12 c-2288ee inline-block ml-15 cursor" >申请平台介入</span></div>
					<div class="f-cb f-18 c-333 l-h16 mb-10" v-if="orderRefund.refundStatus==-4">退款成功</div>
					<div class="f-cb f-18 c-333 l-h16 mb-10" v-if="orderRefund.refundStatus==-1">已取消</div>
					<div class="" v-if="orderRefund.refundStatus==-2">拒绝原因：{{orderRefund.remarks}}</div>
					<div class="f-14 c-666 l-h16" v-if="orderRefund.refundStatus==4">退款成功时间：{{orderRefund.payTime}}</div>
					<div class="bor-b-dbdbdb w-100b mb-15 mt-20"></div>
					<div class="f-14 c-333 l-h17 mb-30">退款总额：<span class="c-e42008">¥ {{orderRefund.amount}}</span></div>
					<!--<div class="bor-b-dbdbdb w-100b mb-30 mt-50"></div>
					<div class="f-16 c-333 l-h12 mb-5">协商历史</div>
					<div class="">
						<div class="bor-b-dbdbdb pb-25 f-cb pt-25" v-for="item in 3">
							<div class="fl w-48 h-48 b-radio-50" style="background:url(static/img/center-img6.jpg) center/cover no-repeat"></div>
							<div class="fr w-700 f-12 c-666 l-h17">
								<div class="f-cb mb-3">我是大白白</span><span class="fr c-999">2019-11-14 23:20:27</span></div>
								<div class="f-cb">买家（我是大白白）于2019-08-29  14:01:01 创建了退款申请</div>
							</div>
						</div>
					</div>-->
				</div>
				<div class="fr w-335 bor-l-dbdbdb h-100b abs r-0 t-0">
					<div class="h-40 lh-38 bor-b-dbdbdb pl-12 f-12 c-666 bg-fcfcfd">订单详情</div>
					<div class="pl-12 pr-12">
						<div class="pt-20 pb-20 bor-b-dbdbdb f-cb">
							<div class="w-80 h-80 mr-13 fl bor-f1f3f5" :style="'background: url('+infoGood.thumb+') center center / cover no-repeat;'"></div>
							<div class="fr w-210 f-12">
								<div class="c-666 l-h15 mb-3">{{infoGood.goodsName}}</div>
								<div class="c-999 l-h16">{{infoGood.goodsAttr}}</div>
								<div class="c-999 l-h16 mt-2" v-if="infoGood.orderAttribute"><span v-for="itattr in infoGood.orderAttribute" class="mr10">{{itattr.goodsAttribute}}:{{itattr.totalValue}}{{itattr.group}}</span></div>

							</div>
						</div>
						<div class="f-12 c-999 l-h16 pt-15 bor-b-dbdbdb pb-15">
							<table>
								<tr v-if="ctype==1">
									<td class="w-60 pt-5 pb-5 f-cb">商<span class="fr">家：</span></td>
									<td class="c-666 f-12 pl-5"><a :href="'store.html?company='+company.id">{{company.name}}<span class="pr-20 ml-5" style="background: url(static/img/center-img22.png) -107px -3px  no-repeat;"></span></a></td>
								</tr>
								<tr v-if="ctype==2">
									<td class="w-60 pt-5 pb-5 f-cb">联系电话：</td>
									<td class="c-666 f-12 pl-5">{{refundPhone}}</td>
								</tr>
								<tr>
									<td class="w-60 pt-5 pb-5 f-cb">订单编号：</td>
									<td class="c-666 f-12 pl-5">{{ctype==1?infoGood.orderNo:info.orderNo}}</td>
								</tr>
								<tr>
									<td class="w-60 pt-5 pb-5 f-cb">单<span class="fr">价：</span></td>
									<td class="c-666 f-12 pl-5" v-if="ctype==1">¥ {{infoGood.price}}*{{infoGood.quantity}}（数量）</td>
									<td class="c-666 f-12 pl-5" v-else>{{infoGood.price}}积分*{{infoGood.quantity}}（数量）</td>

								</tr>
								<!--<tr>-->
									<!--<td class="w-60 pt-5 pb-5 f-cb">邮<span class="fr">费：</span></td>-->
									<!--<td class="c-666 f-12 pl-5">¥ {{ctype==1?'':'0.00'}}  </td>-->
								<!--</tr>-->
								<tr>
									<td class="w-60 pt-5 pb-5 f-cb">商品总价：</td>
									<td class="c-666 f-12 pl-5" v-if="ctype==1">¥  {{infoGood.totalPrice}}</td>
									<td class="c-666 f-12 pl-5" v-else>{{info.goodsAmount}}积分</td>
								</tr>
							</table>
						</div>
						<div class="f-12 c-999 l-h16 pt-15">
							<table>
								<tr>
									<td class="w-60 pt-5 pb-5 f-cb">退款编号：</td>
									<td class="c-666 f-12 pl-5">{{orderRefund.refundNo}}</td>
								</tr>
								<tr>
									<td class="w-60 pt-5 pb-5 f-cb">退款金额：</td>
									<td class="c-666 f-12 pl-5"><span v-if="ctype==1">¥</span>  {{orderRefund.amount}} <span  v-if="ctype==2">积分</span></td>
								</tr>
								<tr>
									<td class="w-60 pt-5 pb-5 f-cb">原<span class="fr">因：</span></td>
									<td class="c-666 f-12 pl-5">{{orderRefund.reason}}</td>
								</tr>
								<tr>
									<td class="w-60 pt-5 pb-5 f-cb">要<span class="fr">求：</span></td>
									<td class="c-666 f-12 pl-5" v-if="ctype==1">{{orderRefund.type==1?'仅退款':'退货退款'}}</td>
									<td class="c-666 f-12 pl-5" v-else>{{orderRefund.typeName}}</td>
								</tr>
								<tr v-if="orderRefund.type==1">
									<td class="w-60 pt-5 pb-5 f-cb">货物状态：</td>
									<td class="c-666 f-12 pl-5" v-if="ctype==1">{{orderRefund.shipType==0?'未收到货':'已收到货'}}</td>
									<td class="c-666 f-12 pl-5" v-else>{{orderRefund.shipTypeName}}</td>

								</tr>
								<tr>
									<td class="w-60 pt-5 pb-5 f-cb">说<span class="fr">明：</span></td>
									<td class="c-666 f-12 pl-5">{{ctype==1?orderRefund.reasonComment:orderRefund.reasonInfo}}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<my-footer></my-footer>
	</div>
	<script src="static/public/swiper/swiper-3.4.2.min.js"></script>
	<script src="static/public/js/dist.js"></script>
	<script src="static/public/element/index.js"></script>
	<script src="static/public/js/public.js"></script>
	<script src="static/public/js/c_main.js"></script>
	<script src="static/components/footer.js"></script>
	<script src="static/components/header.js"></script>
	<script src="static/components/center.js"></script>
	<script src="static/js/o_refund_end.js"></script>
</body>
</html>