<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="zh-CN" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<!--<meta name="viewport" content="widdiv=device-widdiv,initial-scale=1.0,user-scalable=no" />-->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="audivor" content="杭州博采网络科技股份有限公司-http://www.bocweb.cn" />
	<meta name="renderer" content="webkit">
	<title>苏润易购</title>
	<link href="static/img/favicon.ico" rel="shortcut icon">
	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.2.2/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="static/public/swiper/swiper-3.4.2.min.css">
	<link rel="stylesheet" href="static/public/css/public.css">
	<link rel="stylesheet" href="static/css/center.css">
	<link rel="stylesheet" href="static/css/index.css">
</head>



<style type="text/css">
	.el-select .el-input .el-select__caret{color: #fff;}
	.center-page .c-h-select .el-input__suffix{background-color: #8d8d8d;}
</style>
<body class="center-page ">
	<div id="app" v-cloak="" class="bgfff">
		<!--<my-header ></my-header>-->
		<header-top></header-top>

		<div class="bgfff header h110">
			<div class="f-cb wid1190 header-cen">
				<img src="static/img/logo.png" class="fl mt15 ml50 mr30">
				<div class="fl fsize24 co99 lh110">确认订单</div>

				<div class="fr co99 header-confirm center" v-if="ctype==1">
					<div class="fl on">
						<div class="ico ">1</div>
						<div>我的定制</div>
					</div>
					<div class="fl on">
						<div class="ico">2</div>
						<div>确认订单</div>
					</div>
					<div class="fl">
						<div class="ico">3</div>
						<div>付款</div>
					</div>
					<div class="fl">
						<div class="ico">4</div>
						<div>支付成功</div>
					</div>
				</div>
			</div>
		</div>

		<div class="wid1190 pb75 pt30">
			<div class="fsize16 mb15"><span class="bold">收货信息</span> <span class="fsize12 co0679da ml20" v-if="state==1||state==2">{{state==1?'添加':'编辑'}}新地址</span></div>

			<!--已有地址-->
			<div class="f-cb fsize12 mb30">
				<div class="fl rel  co66 confirm-add mb10 lh20 cursor rel" :class="[{'mr10':(index+1)%5!=0},{'on':addressId==item.id}]" v-for="(item,index) in addressList">
					<div @click="chooseAdd(item)">
						<div class="fsize14 bor-bof2f4f6  pb5 mb5 f-cb lh24">{{item.contact}}
							<div class="fr ico2 fsize12 lh20 ml5" v-if="addressId==item.id">
								<div v-if="item.type==1">家</div>
								<div v-if="item.type==2">公司</div>
								<div v-if="item.type==3">{{item.detail}}</div>
							</div>
							<div class="fr ico1 fsize12 " v-if="item.isDefault==1&&addressId==item.id">默认</div>
						</div>
						<div class="row1 ">{{item.province}}{{item.city}}{{item.area}}{{item.info}} </div>
						<div>{{item.phone}} </div>
					</div>
					<div class="abs btn" v-if="addressId==item.id" @click="showAdd(item)">修改</div>
				</div>
				<div class="fl rel  co99 confirm-add mb10 lh20 cursor rel center" @click="state=1;id='';type='';contact='';phone='';province='';info='';checked=false;detail='';standby='';">
					<div class="list-ico ico3"></div>
					<div class="">添加地址</div>
				</div>
			</div>

			<!--新增收货地址-->
			<div class="bor bor-cof4f4f4 mb30" v-if="state==1||state==2">
				<div class="bgf0f0f0 pd15 lh40">{{state==1?'添加':'编辑'}}收货地址</div>
				<div class="f-cb f-12 pb-40 mb-60 pt30">
					<div class="f-cb mb-10">
						<div class="fl h-34 lh-34 f-14 c-666 w-120 right mr-30"><span class="c-e42008 mr-5">*</span>收件人</div>
						<div class="fl h-34 lh-32 mr-40 w-256">
							<el-input v-model="contact" class="c-h-input" placeholder="请输入收件人姓名"></el-input>
						</div>
						<!--<span class="inline-block lh-34 f-14 c-666 pl-25" style="background:url(static/img/center-img22.png) -180px 6px no-repeat">收件人姓名不能为空</span>-->
					</div>
					<div class="f-cb mb-10">
						<div class="fl h-34 lh-34 f-14 c-666 w-120 right mr-30"><span class="c-e42008 mr-5">*</span>手机</div>
						<div class="fl h-34 lh-32 mr-40 w-256">
							<el-input v-model="phone" class="c-h-input" placeholder="请输入手机"></el-input>
						</div>
						<!--<span class="inline-block lh-34 f-14 c-666 pl-25" style="background:url(static/img/center-img22.png) -180px 6px no-repeat">手机不能为空</span>-->
					</div>
					<div class="f-cb mb-10">
						<div class="fl h-34 lh-34 f-14 c-666 w-120 right mr-30">备用手机</div>
						<div class="fl h-34 lh-32 mr-40 w-256">
							<el-input v-model="standby" class="c-h-input" placeholder="请输入备用手机"></el-input>
						</div>
						<!--<span class="inline-block lh-34 f-14 c-666 pl-25" style="background:url(static/img/center-img22.png) -180px 6px no-repeat">备用手机不能为空</span>-->
					</div>
					<div class="f-cb mb-10">
						<div class="fl h-34 lh-34 f-14 c-666 w-120 right mr-30"><span class="c-e42008 mr-5">*</span>所在地区</div>
						<div class="fl h-34 lh-32">
							<template>
								<el-select v-model="province" class="c-h-select w-160 mr-10 fl" placeholder="请选择">
									<el-option
											v-for="item in provinceList"
											:key="item.oid"
											:label="item.name"
											:value="item.oid">
									</el-option>
								</el-select>
							</template>
							<template>
								<el-select v-model="city" class="c-h-select w-160 mr-10 fl" placeholder="请选择">
									<el-option
											v-for="item in cityList"
											:key="item.oid"
											:label="item.name"
											:value="item.oid">
									</el-option>
								</el-select>
							</template>
							<template>
								<el-select v-model="area" class="c-h-select w-160 fl mr-10" placeholder="请选择">
									<el-option
											v-for="item in areaList"
											:key="item.oid"
											:label="item.name"
											:value="item.oid">
									</el-option>
								</el-select>
							</template>
							<el-input v-model="info" class="c-h-input fl w-130" placeholder="详细地址"></el-input>
						</div>
					</div>
					<div class="f-cb mb-30">
						<div class="fl h-34 lh-34 f-14 c-666 w-120 right mr-30">标签</div>
						<div class="fl h-34 lh-32 mr-40">
							<div class="fl h-34 lh-34 pl-20 pr-20 bor-dbdbdb mr-10 pointer " :class="type==1?'bor-ff0000 ce42008':''" @click="type=1;detail=''">家</div>
							<div class="fl h-34 lh-34 pl-20 pr-20 bor-dbdbdb mr-10 pointer " :class="type==2?'bor-ff0000 ce42008':''" @click="type=2;detail=''">公司</div>
							<el-input v-model="detail" @focus="type=3" class="c-h-input fl w-100" placeholder="填写其他标签" ></el-input>
						</div>
					</div>
					<div class="f-cb pl-150 checkbox">
						<template>
							<el-checkbox v-model="checked" class="f-12">设置为默认收货地址</el-checkbox>
						</template>
						<span class="f-12 ce42008 ml-10 inline-block">设置后我们将在购物时默认使用该地址</span>
					</div>
					<div class="f-14 ml-150 mt-30 c-fff pointer w-130 h-38 lh-38 center bg-e42008" @click="addInfo">保存并使用</div>
				</div>
			</div>

			<div class="fsize16 mb15" v-if="ctype==1"><span class="bold">支付方式</span></div>
			<div class="bor bor-cof4f4f4 mb30 pd15 pt50 pb30" v-if="ctype==1">
				<div class="f-cb confirm-pay lh40 mb25 pl-50 ">
					<div class="fl cursor mr-70 hovere42008" @click="payType=1"><span class="list-ico fl" :class="payType==1?'ico2':'ico1'"></span><span class="list-ico ico3"></span>微信支付</div>
					<div class="fl cursor mr-70 hovere42008" @click="payType=2"><span class="list-ico fl" :class="payType==2?'ico2':'ico1'"></span><span class="list-ico ico4"></span>支付宝支付</div>
					<!--<div class="fl cursor" @click="payType=3"><span class="list-ico ico1 fl" :class="payType==3?'ico2':'ico1'"></span><span class="list-ico ico5"></span>银联支付</div>-->
				</div>
				<div class="center bgf4f4f4 store-no-bank co66" v-if="payType==3">暂未添加银行卡，<a href="">前去绑定</a></div>
			</div>

			<div class="fsize16 mb15"><span class="bold">商品信息</span></div>
			<div class="bor bor-cof4f4f4 store-confirm fsize12 co66 center mb30" v-if="ctype==1">
				<table v-for="(item,index) in goodList">
					<tr class="bor-bof2f4f6 lh40 ">
						<th class="left bor-rif2f4f6" width="450">店铺：{{item.companyName}}<img src="static/img/list_ico7.png" class="ml12 vertical-4"></th>
						<th class="bor-rif2f4f6" width="334">服务信息</th>
						<th>单价</th>
						<th>数量</th>
						<th>小计</th>
					</tr>
					<tr class="lh20 bor-bof2f4f6" v-for="itpro in item.goodsList">
						<td class="left bor-rif2f4f6 f-cb">
							<img :src="itpro.thumb" class="fl img img-cover bor bor-cof4f4f4 mr-25">
							<div class="fl wid290">
								<div class="">{{itpro.goodsName}}</div>
								<div>{{itpro.goodsAttr}}</div>
								<div v-if="itpro.goodsAttribute"><span v-for="it in itpro.goodsAttribute" class="mr10">{{it.name}}:{{it.totalValue}}{{it.group}}</span></div>
							</div>
						</td>
						<td class="bor-rif2f4f6">支付完成后尽快为您发货 </td>
						<td class="co33">￥{{itpro.price}}</td>
						<td class="co66">
							{{itpro.quantity}}
							<!--<div class="ipt-num f-cb  in-block">-->
								<!--<el-input-number v-model="quantity" :min="1" :max="goodInfo.stock*1" label="描述文字"></el-input-number>-->
							<!--</div>-->
						</td>
						<td class="coe42008">￥{{itpro.totalPrice}}</td>
					</tr>
					<tr>
						<td colspan="2" class="bor-rif2f4f6 left pd15 pt20 pb20">
							<div class="fl">给卖家留言：</div>
							<div class="rel in-block ml20 text">
								<el-input
										type="textarea"
										placeholder="选填：对本次交易的补充说明（所填内容建议已经和卖家达成一致意见）"
										v-model="commentNum[index]"
										:maxlength="85"
										show-word-limit
								>
								</el-input>
								<!--<textarea class="bor bor-cof4f4f4" v-model="item.comment" @change="csss(item.comment)" placeholder="选填：对本次交易的补充说明（所填内容建议已经和卖家达成一致意见）" maxlength="85"></textarea>-->
								<div class="abs">{{commentNum[index].length}}/85</div>
							</div>
						</td>
						<td colspan="3" class=" right pd15 pt20 pb20">运费：{{item.shipFee}}</td>
					</tr>
				</table>
			</div>

			<!--积分-->
			<div class="bor bor-cof4f4f4 store-confirm fsize12 co66 center mb30" v-if="ctype==2">
				<table>
					<tr class="bor-bof2f4f6 lh40 ">
						<th class="left bor-rif2f4f6" width="450">内容</th>
						<th>积分</th>
						<th>数量</th>
						<th>小计</th>
					</tr>
					<tr class="lh20 bor-bof2f4f6">
						<td class="left bor-rif2f4f6 f-cb">
							<img :src="goodInfo.photo" class="fl img img-cover bor bor-cof4f4f4 mr-25">
							<div class="fl wid290">
								<div class="">{{goodInfo.name}}</div>
								<div>{{goodInfo.attributeValues}}</div>
							</div>
						</td>
						<td class="co33">{{goodInfo.price}}积分</td>
						<td>
							<div class="ipt-num f-cb co66 in-block">
								<el-input-number v-model="quantity" :min="1" :max="goodInfo.stock*1" label="描述文字"></el-input-number>
							</div>
						</td>
						<td class="coe42008">{{goodInfo.price*quantity}}积分</td>
					</tr>
				</table>
			</div>


			<div class="fsize16 mb20"  v-if="ctype==1"><span class="bold">结算信息</span></div>
			<div class="mb20 cursor in-block" v-if="ctype==1" @click="showCup=!showCup"><i :class="showCup?'el-icon-minus':'el-icon-plus'" class=" bge42008 cofff lh-16 w-16 center mr15 fsize12"></i>使用优惠券</div>
			<div class="bor bor-cof4f4f4 fsize12 confirm-coupon co66 mb40"  v-if="ctype==1">
				<div v-if="showCup">
					<div class="bor-b-f2f4f6" v-if="companyCouponList.length>0">
						<div class="f-cb bgfcfcfd bor-bof2f4f6 lh40  pd15"><div class="fl bold fsize14 co33">店铺优惠券</div><div class="fr">温馨提示：优惠券均为一次使用，不找零、不兑现</div></div>
						<div class="pt20 ">
							<div class="f-cb pd30 lh20 mb10"><img @click="chooseOptimal(1)" :src="companyCheck?'static/img/list_ico6.png':'static/img/list_ico4.png'" class="fl mr10 cursor">使用最优组合  已使用<span class="coe42008">{{companyCouponNum}}</span>张优惠券，共抵用<span class="coe42008">{{companyCouponPrice}}</span>元</div>
							<div v-for="(item,index) in companyCouponList">
								<div class="pl-60 mb10">{{item.companyName}}</div>
								<div class="">
									<div class="f-cb pl-60 lh40 co33  cursor" @click="changeCoupon(1,index,idx)" :class="itpro.isChecked==1?'bgfff1da':''"  v-for="(itpro,idx) in item.list">
										<div class="fl wid450">
											<img :src="itpro.isChecked==1?'static/img/list_ico5.png':'static/img/list_ico4.png'" class="fl mr15 mt10">
											<div class="fl fsize18 coe42008 mr20"><span class="fsize14">¥</span>{{itpro.price}}</div>
											<div class="fl coe42008">{{itpro.name}}</div>
										</div>
										<div class="fl wid220">{{itpro.condition>0?'满'+itpro.condition+'可用':'无门槛'}}</div>
										<!--<div class="fl wid290">限江阴华清数码专营店</div>-->
										<div class="fl">有效期至 {{itpro.overTime}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div v-if="platformCouponList.length>0">
						<div class="f-cb bgfcfcfd bor-bof2f4f6 lh40  pd15"><div class="fl bold fsize14 co33">平台优惠券</div></div>
						<div class="pt20 ">
							<div class="f-cb pd30 lh20 mb10"><img @click="chooseOptimal(2)"  :src="platformCheck?'static/img/list_ico6.png':'static/img/list_ico4.png'" class="fl mr10 cursor">使用最优组合  已使用<span class="coe42008">{{platformCouponNum}}</span>张优惠券，共抵用<span class="coe42008">{{platformCouponPrice}}</span>元</div>
							<div class="f-cb pl-60 lh40 co33  cursor" :class="item.isChecked==1?'bgfff1da':''" @click="changeCoupon(2,index)"  v-for="(item,index) in platformCouponList">
								<div class="fl wid450">
									<img :src="item.isChecked==1?'static/img/list_ico5.png':'static/img/list_ico4.png'" class="fl mr15 mt10 ">
									<div class="fl fsize18 coe42008 mr20"><span class="fsize14">¥</span>{{item.price}}</div>
									<div class="fl coe42008">{{item.name}}</div>
								</div>
								<div class="fl wid220">{{item.condition>0?'满'+item.condition+'可用':'无门槛'}}</div>
								<!--<div class="fl wid290">限江阴华清数码专营店</div>-->
								<div class="fl">有效期至 {{item.overTime}}</div>
							</div>
							<!--<div class="f-cb pl-60 lh40 co99 bgfafafa">
								<div class="fl wid398">
									<img src="static/img/list_ico4_1.png" class="fl mr15 mt10">
									<div class="fl fsize18 coe42008 mr20"><span class="fsize14">¥</span>20.00</div>
									<div class="fl ">优惠券</div>
								</div>
								<div class="fl wid290">限江阴华清数码专营店</div>
								<div class="fl">有效期至 2019-11-16   18:54</div>
							</div>	-->
						</div>
					</div>
				</div>


					<div class="right pt20 lh20 pd30 pb20">
						<div><span class="coe42008">{{goodInfo.totalQuantity}}</span> 件商品 总计：<div class="in-block wid105 co33">¥{{goodInfo.goodsAmount}}</div></div>
						<div>运费：<div class="in-block wid105 co33">¥{{goodInfo.totalShipFee}}</div></div>
						<div>优惠：<div class="in-block wid105 co33">-¥{{parseFloat(companyCouponPrice)+parseFloat(platformCouponPrice)}}</div></div>
					</div>
			</div>

			<div class="right" v-if="ctype==1">
				<div class="co99 mb10">应付金额：<span class="coe42008 fsize18 ml20">¥{{goodsAmount}}</span></div>
				<div class="co99 mb10">收货信息：<div class="co66 inline-block "><span class="mr10">{{addressInfo.contact}}</span><span class="mr10">{{addressInfo.phone}}</span><span> {{addressInfo.province}}{{addressInfo.city}}{{addressInfo.area}}{{addressInfo.info}}</span></div></div>
				<div class="co99 mb15">支付方式：<span class="co66"><i v-if="payType==1">微信</i><i v-if="payType==2">支付宝</i><i v-if="payType==3">银联</i></span></div>

				<div class="bge42008 cofff center cursor lh40 wid105 in-block" @click="proCreateOrder">提交订单</div>
			</div>
			<div class="right" v-if="ctype==2">
				<div class="co99 mb10"><span class="coe42008">{{quantity}}</span>件商品总计：<span class=" wid105 in-block">{{goodInfo.price*quantity}}积分</span></div>
				<div class="co99 mb15">应付积分：<span class="coe42008 fsize14 wid105 in-block"><span class="fsize18">{{goodInfo.price*quantity}}</span> 积分</span></div>

				<div class="bge42008 cofff center cursor lh40 wid105 in-block" @click="pointCreateOrder">确认兑换</div>
			</div>
		</div>

		<div class="back-black back-black-show" v-show="ewmShow" @click="hideEwm">
			<div class="back-black-bg"></div>
			<div class="back-ewm">
				<div id="code" class=""></div>
			</div>
		</div>

		<my-footer></my-footer>


	</div>

	<script src="static/public/swiper/swiper-3.4.2.min.js"></script>
	<script src="static/public/js/dist.js"></script>
	<script src="static/public/element/index.js"></script>
	<script src="static/public/js/public.js"></script>
	<script src="static/public/js/c_main.js"></script>
	<script src="static/components/footer.js"></script>
	<script src="static/public/js/qrcode.js"></script>
	<script src="static/components/header.js"></script>
	<script src="static/js/store_confirm.js"></script>
</body>

</html>